body {
  font-family: sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form label {
  margin-right: 10px;
}

.form button {
  width: 5rem;
  /* align-self: center; */
}

.error {
  color: red;
}
